
html, body {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('fondoo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
}}
body {
    position: relative; /* Asegura que el cuerpo tenga una posición relativa */
    font-family: 'Oswald', sans-serif;
}
p {
	color: #fff;
}
h1 {
	color: black;
	text-align: center;
}
/*carro*/
.carro {
         top: 0;
         right:0;
         width: 100%;
         padding: 5px 0;
         z-index: 1000;
	 background-color: red;
         text-align: center;
        
}

/*logo*/
.logo{
	 
}
.centrarlogo{
            text-align: center; /* Centra horizontalmente */
	    background-color: black;
	    top: 40;
        }
/*menu*/
@media (max-width: 768px)  .navegacion{
	
	background-color:#030000;
	text-align: center;
}

.navegacion ul{
	list-style: none;
}


.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 25px 25px;
	color: #fff;
	text-decoration: none;
}

.menu li a:hover{
	color: #d40227;
	transition: all .3s;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
/*productos*/
.product {
	display: flex;
    align-items: center;
    background-color: #f9f9f9; /* Color de fondo de la franja */
    border: 2px solid #ddd; /* Borde alrededor del producto */
    margin-bottom: 20px; /* Espacio entre franjas */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
span {
	flex: 1;
	color: black;
	font-size: 20px;
}
.imagen {
    max-width: 150px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 4px; /* Esquinas redondeadas en la imagen */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}
.carrito {
    background-color: red; /* Color de fondo de la franja */
    text-align: center;
    color: #fff;
   padding: 20px;
}
/*footer*/

h5{
    font-size: 14px;
    color: #fff;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: red;
    text-align: center;
    padding: 0px;
}
/*carrusel*/
.carousel {
    position: relative;
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 100%; /* Asegura que no se exceda el ancho del contenedor */
    overflow: hidden;
}

.carimages {
    display: flex;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    transition: transform 0.5s ease-in-out;
}
.inicio {
    width: 100%; /* Hace que cada imagen ocupe el 100% del ancho del contenedor del carrusel */
    height: auto; /* Mantiene la proporción de las imágenes */
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel .prev {
    left: 10px;
}

.carousel .next {
    right: 10px;
}
