html, body {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('fondoo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
}}
body {
    position: relative; /* Asegura que el cuerpo tenga una posición relativa */
    font-family: 'Oswald', sans-serif;
}
p {
	color: #fff;
}
h1 {
	color: #fff;
	text-align: center;
}
/*carro*/
.carro {
         top: 0;
         right:0;
         width: 100%;
         padding: 5px 0;
         z-index: 1000;
	 background-color: red;
         text-align: center;
        
}

/*logo*/
.logo{
	 
}
.centrarlogo{
            text-align: center; /* Centra horizontalmente */
	    background-color: black;
	    top: 40;
        }
/*menu*/
.navegacion{
	
	background-color:#030000;
	/*text-align: left;*/
}

.navegacion ul{
	list-style: none;
}


.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 25px 25px;
	color: #fff;
	text-decoration: none;
}

.menu li a:hover{
	color: #d40227;
	transition: all .3s;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
/*productos*/
span {
	color: #fff
	background-color: #f9f9f9; /* Color de fondo */
    border: 2px solid #ddd; /* Borde */
    border-radius: 8px; /* Esquinas redondeadas */
    padding: 20px; /* Espacio interno */
    width: calc(33% - 40px); /* Ajusta el ancho, considerando el gap */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center; /* Centrar el texto */
    transition: transform 0.3s, box-shadow 0.3s; /* Transición para efectos */
}

/*footer*/

h5{
    font-size: 14px;
    color: #fff;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: red;
    text-align: center;
    padding: 0px;
}
