body {
    background-image: url('fondoo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
}}
body {
    position: relative; /* Asegura que el cuerpo tenga una posición relativa */
    font-family: 'Oswald', sans-serif;
}
/*carro*/
.carro {
         top: 0;
         right:0;
         width: 100%;
         padding: 10px 0;
         z-index: 1000;
	 background-color: #030000;
         text-align: center;
        
}

/*logo*/
.logo{
	 
}
.centrarlogo{
            text-align: center; /* Centra horizontalmente */
	    background-color: #6e0417;
	    top: 40;
        }
/*menu*/
.navegacion{
	
	background-color:#030000;
	/*text-align: left;*/
}

.navegacion ul{
	list-style: none;
}


.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}

.menu li a:hover{
	color: #d40227;
	transition: all .3s;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
/*productos carrito*/
.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

button.add-to-cart {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

button.add-to-cart:hover {
    background-color: #45a049;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart-items li {
    margin-bottom: 10px;
}

#cart-items li button {
    margin-left: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

#cart-items li button:hover {
    background-color: #e53935;
}

#cart-total {
    font-weight: bold;
}

button#purchase-button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button#purchase-button:hover {
    background-color: #007B9A;
}
/*footer*/
.divh5{
	background-color: #030000;
	  text-align: center;
}
h5{
    font-size: 14px;
    color: #fff;
}
footer {
   background-color: #030000;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
